/*@font-face{
    font-family:bee-font;
    src:url(../fonts/5496b534.eot);
    src:url(../fonts/5496b534.eot?#iefix) format("embedded-opentype"),
    url(../fonts/98af920b.woff) format("woff"),
    url(../fonts/b641449e.ttf) format("truetype");
    font-weight:400;
    font-style:normal;
}*/